/**********************************************************************/
/*setting*/
/**********************************************************************/
/*setting fonts*/
@font-face {
  font-family: "overpass";
  src: url(../Font/Overpass-VariableFont_wght.ttf);
}
/*setting colors*/
/*setting page*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  margin-block: 0;
  outline: none;
}

/*setting body*/
body {
  min-height: 100vh;
  font-family: overpass;
  font-weight: 400;
  background-color: hsl(216deg, 12%, 8%);
  text-align: left;
  color: hsl(0deg, 0%, 100%);
}

/*setting link color (footer)*/
a,
a:visited {
  color: hsl(25deg, 97%, 53%);
}

p {
  margin-right: 10px;
  color: hsl(217deg, 12%, 63%);
  line-height: 25px;
  font-size: 15px;
}

h1,
h2 {
  font-size: 1.65rem;
}

/*mixin for use flexbox to center elements*/
main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
main .submitcard .flexbox {
  width: 415px;
  height: 415px;
  border-radius: 28px;
  background: hsl(213deg, 19%, 18%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px;
}
main .submitcard .flexbox span {
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(212deg, 11%, 24%);
  width: 47px;
  height: 47px;
  border-radius: 50%;
}
main .submitcard .flexbox ul {
  display: flex;
  justify-content: space-around;
}
main .submitcard .flexbox ul li {
  background: hsl(212deg, 11%, 24%);
  width: 47px;
  height: 47px;
  border-radius: 50%;
  border: none;
  color: hsl(217deg, 12%, 63%);
  font-size: 0.9rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.4s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .submitcard .flexbox ul li:hover {
  color: hsl(0deg, 0%, 100%);
  background: hsl(25deg, 97%, 53%);
  border: 1px solid hsl(216deg, 12%, 8%);
}
main .submitcard .flexbox ul .btnclicked {
  background: hsl(216deg, 12%, 54%);
  color: hsl(0deg, 0%, 100%);
}
main .submitcard #submit {
  background: hsl(25deg, 97%, 53%);
  width: 340px;
  height: 44px;
  border-radius: 20px;
  border: 1.5px solid hsl(216deg, 12%, 8%);
  text-transform: uppercase;
  color: hsl(0deg, 0%, 100%);
  font-weight: 700;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.4s ease;
}
main .submitcard #submit:hover {
  color: hsl(25deg, 97%, 53%);
  background: hsl(0deg, 0%, 100%);
  border: 1px solid hsl(216deg, 12%, 8%);
}
main .thankcard {
  text-align: center;
  cursor: pointer;
}
main .thankcard .flexbox2 {
  width: 415px;
  height: 415px;
  border-radius: 28px;
  background: hsl(213deg, 19%, 18%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px;
}
main .thankcard .flexbox2 img {
  width: 160px;
  height: 110px;
  margin: 0 auto;
}
main .thankcard .flexbox2 .selected {
  background: hsl(212deg, 11%, 24%);
  border-radius: 15px;
  width: 194px;
  height: 32px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: hsl(25deg, 97%, 53%);
}
main .thankcard .flexbox2 .selected .result {
  margin: 5px;
}
main .hide {
  display: none;
}

/*****align footer and set size and color*****/
footer {
  text-align: center;
  font-size: 0.8rem;
  margin: 20px auto;
  color: rgb(255, 255, 255);
}/*# sourceMappingURL=index.css.map */